body {
  background: #2F4073;
  color: #FFF2AA;
  font-family: 'Open Sans', sans-serif;
}

main {
  text-align: center;
}

h1 {
  font-family: 'Arvo', serif;
  font-size: 3em;
}

ul {
  margin: 0 0 1em 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.todo {
  position: relative;
}

button.delete {
  border: none;
  background: none;
  color: #FFF2AA;
  font-size: 1em;
  position: absolute;
}

input {
  border: 0;
  border-bottom: 3px solid #FFF2AA;
  background: inherit;
  color: #FFF2AA;
  font-size: 1em;
  font-style: italic;
  text-align: center;
  padding: .2em .5em .2em;
}

::-webkit-input-placeholder {
  font-style: italic;
}
